/* Detail.css */

.detail-container {
    position: relative;
    background-image: url('dog-surround.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.detail-card {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value for transparency */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px; /* Adjust the max-width as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
}
  
.detail-card h2,
.detail-card h4 {
    font-family: 'Gaegu', sans-serif; /* Use the specified font */
    color: #333; /* Adjust text color as needed */
}
  
.detail-card img {
    width: 300px; /* Adjust the width as needed */
    border-radius: 10px; /* Add border-radius to the image */
    margin-top: 20px; /* Adjust margin as needed */
}
  