.warning {
    border: solid red 2px;
    border-radius: 0.2em;
}
  
.danger {
    font-size: 12px;
    color: #fffffecb;
    margin-top: 0.1em;
    font-weight: 600;
    background-color: rgb(240, 12, 12);
    padding: 0.5em;
    border-radius: 5px;
}